<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%= @user[:title] %></h1>
    <p><%= @user[:content] %></p>

  </body>
</html>
